:root {
    --color-primary: #AAF683;
    --color-primary-op: #a9f68348;
    --color-secondary: #020122;
    --color-secondary-op: #020122a9;
    --color-tertiary: #FFFAFB;
    --color-tertiary-op: #fffafb62;
    --color-highlight: #AAF683;
    --color-background: #08390d;
    --color-background-op: #08390d63;
    --color-primary-op: #a9f683dc;

}

/* COLOR DEFINITION */

.text-custom-primary {
    color: var(--color-primary);
}

.text-custom-secondary {
    color: var(--color-secondary);
}

.text-custom-tertiary {
    color: var(--color-tertiary);
}

.text-custom-highlight {
    color: var(--color-highlight);
}

.background-custom-primary {
    background-color: var(--color-primary);
}

.background-custom-secondary {
    background-color: var(--color-secondary);
}

.background-custom-tertiary {
    background-color: var(--color-tertiary);
}

.background-custom-highlight {
    background-color: var(--color-highlight);
}

.background-custom {
    background-color: var(--color-background);
}

.background-custom-op {
    background-color: var(--color-background-op);

}

.background-image-filter {
    background-image: 
        linear-gradient(var(--color-primary-op), var(--color-primary-op)), url("/storage/app/public/media/img/sfondo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}