@import "./colors.css";

/* MASTHEAD */

.masthead {
    height: 15vh;
    min-height: 100px;
}

/* FORM */

.form-custom {
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* ICONE */

a.text-reset {
    text-decoration: none;
}

/* ARTICLE CARD INDEX*/
.card-index-custom{
    max-width: 300px;
}


/* ARTICLE CARD CATEGORY*/
.card-img-cat-custom{
    height: 250px;
    object-fit: cover;
}