@import './colors.css';

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    transition: transform 0.2s ease;
}

.img-preview:hover {
    transform: scale(1.05);
}